:modal {
    background-color: beige;
}



.modal {
    padding: 2em;
    width: 50%;
    justify-content: center;
    max-width: 100%;
}

.modal form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.modal div {
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
}
.modal label {
    padding-right: 5px;
}

