/* Table of Contents:
||-Movie-Item
||-Buttons
||-Modal-Window
||-Media-Queries
*/

:root {
  --palette-background1: #090F10;
  --palette-background2: #181d1f; 
  --palette-background3: #24282b; /* Grouped for gradient usage */
  --palette-foreground1: #948f88;
  --palette-foreground2: #A8A49E;
  --palette-foreground3: #C0BCB5; /* Grouped for gradient usage */
  --palette-dropShadow: rgba(0, 0, 0, 0.4);
  --palette-dropLight: rgba(255, 255, 255, 0.342);
  --palette-highlightA: #f19225;
  --palette-highlightB: #B10F2E;
  --palette-highlightB-accent-border: #850b21;
  --palette-text-light: #f0e8e8;
  --palette-subtext-light1: #C0BCB5;
  --palette-subtext-light2: #948f88;
  --palette-text-dark: #030303;
  --palette-subtext-dark1: #090F10;
  --palette-subtext-dark2: #132022;
  --image-header-embed: "./assets/images/directorscut.png";
  --modal-display: 0;
}

/* General styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: var(--palette-background1);
  color: var(--palette-text-light);
  margin: 0;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: "Alfa Slab One", Arial, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

/* Search Bar and Filter Button */
.search-container {
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.search-bar {
  padding: 0.5rem;
  border: 0.1rem solid var(--palette-foreground1);
  border-radius: 0.2rem;
  outline: none;
  width: 15rem;
}

.filter-button {
  padding: 0.5rem 0.75rem;
  border: 0.1rem solid var(--palette-foreground1);
  border-radius: 0.2rem;
  background-color: var(--palette-background2);
  color: var(--palette-text-light);
  cursor: pointer;
}

/* Header */
header {
  background-image: var(--image-header-embed);
}

/* Navigation Tabs */
.nav-tabs {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.tab {
  padding: 0.5rem 0.75rem;
  color: var(--palette-text-light);
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: var(--palette-background3);
}

.tab.active {
  background-color: var(--palette-highlightB);
  color: var(--palette-text-light);
}

/* Movie List */
.movie-list {
  list-style: none;
  padding: 0;
}

/* ||-Movie-Item */
.movie-item {
  display: flex;
  align-items: center;
  background-color: var(--palette-background1);
  background-image: linear-gradient(var(--palette-background1), var(--palette-background2));
  padding: 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: var(--palette-dropLight);
}

.movie-poster {
  height: 8rem;
  flex: 0 8 8rem;
  border-radius: 0.25rem;
  margin-right: 1.65rem;
}

.movie-details {
  display: inline-block;
}

.movie-title {
  font-size: 1.2rem;
  margin: 0;
}

.movie-info,
.movie-item .actors {
  font-size: 0.85rem;
  color: var(--palette-subtext-light1);
  margin: 0.5rem 0;
  min-width: 12rem;
}

.movie-item .actors {
  margin-bottom: 1rem;
}

.rating,
.year,
.genre,
.duration {
  margin-right: 0.15rem;
}

.rating {
  /* This element has inverted colors */
  background-color: var(--palette-foreground1);
  color: var(--palette-subtext-dark1);
  padding: 0.2rem 0.25rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.genre {
  font-style: italic;
}

.duration {
  color: var(--palette-subtext-light2)
}

.movie-score {
  font-size: 1.2rem;
  color: var(--palette-highlightA);
  margin-left: 1rem;
}

/* ||-Buttons */
.more-details-button,
.add-movie-button,
a.tab {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.5rem;
  color: var(--palette-text-light);
  cursor: pointer;
}

.more-details-button {
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--palette-background3);
  background-image: linear-gradient(var(--palette-background3), var(--palette-background2));
  color: var(--palette-subtext-light2);
}

.more-details-button::after {
  display: inline-flex;
  content: "";
  background-image: url("../images/downbutton.svg");
  fill: var(--palette-subtext-light2);
  stroke: var(--palette-subtext-light2);
  --button-size: 0.75rem;
  background-size: var(--button-size);
  width: var(--button-size);
  height: var(--button-size);
  margin-left: calc(var(--button-size)*0.5);
}

.add-movie-button {
  background-color: var(--palette-highlightB);
  display: block;
  margin: 1.5rem auto;
  border: 0.3rem solid var(--palette-highlightB-accent-border);
  box-shadow: 0 0.2rem 0.4rem var(--palette-dropLight);
}

/* Close Button */
.close-button {
  display: block;
  float: right;
  width: 2rem;
  height: 2rem;
  background-color: var(--palette-highlightB);
  color: var(--palette-text-light);
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--palette-text-dark);
  text-decoration: none;
  cursor: pointer;
}

/* ||-Modal-Window */
/* TODO style modal */
.modal {
  display: inline-flex; /* Hidden by default */
  position: fixed;
  z-index: 1; /* Sits on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--palette-dropShadow);
}

.movieForm {
  line-height: 1.5;
  background-color: var(--palette-foreground1);
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid var(--palette-foreground2);
  width: 80%; 
  max-width: 800px;
  color: var(--palette-text-dark);
}

/* ||-Media-Queries */

@media(prefers-color-scheme: dark) {
  /* Use defaults */
}

@media(prefers-color-scheme: light) {
  /* Will need a redesign */
}